.card-grid {
  display: grid;
  grid-gap: 20px;
}

.card-grid--childish {
  grid-template-columns: 1fr 1fr 1fr;
}

.card-grid--normal {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-grid--insane {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
