h1 {
  text-align: center;
}

.scoreboard {
  /* margin-bottom: 10px; */
}
.scoreboard__levels {
  display: flex;
  border-top: 1px solid #e5e5e5;
  justify-content: space-around;
}
.scoreboard__level {
  flex-grow: 1;
  padding: 6px;
}

.scoreboard__level:hover {
  background: #f7f7f7;
}

.scoreboard__columns {
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.close-button {
  padding: 8px 30px 8px 30px;
  margin-left: auto;
  margin-right: auto;
}

.scoreboard__level--active {
  background: #f7f7f7;
  font-weight: 750;
}
