.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  border: 1px solid black;
}

.settings__options {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.option {
  width: 100px;
  max-height: 100px;
  margin: 10px;
  padding: 0.6em;
}

.settings__confirm {
  margin-top: 20px;
}

.theme-picture {
  width: 100%;
}

.error-message {
  color: red;
}

@media (min-width: 481px) {
  .settings__options {
    width: 80%;
  }
}
