#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header h1 {
  font-size: 60px;
}
.scoreboard-button {
  padding: 5px;
  width: 60px;
  height: 60px;
}

.scoreboard-button img {
  max-width: 100%;
}

@media (min-width: 481px) {
  .app {
    min-width: 480px;
  }
  .header {
    justify-content: center;
    position: relative;
  }
  .scoreboard-button {
    position: absolute;
    right: 0;
  }
}
