#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header h1 {
  font-size: 60px;
}
.scoreboard-open {
  padding: 5px;
  width: 60px;
  height: 60px;
}

.scoreboard-open img {
  max-width: 100%;
}

.scoreboard-open:hover {
  scale: 1.1;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  14% {
    transform: rotate(-2deg);
  }
  28% {
    transform: rotate(-4deg);
  }
  43% {
    transform: rotate(-2deg);
  }
  57% {
    transform: rotate(0deg);
  }
  71% {
    transform: rotate(2deg);
  }
  85% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@media (min-width: 481px) {
  .app {
    min-width: 480px;
  }
  .header {
    justify-content: center;
    position: relative;
  }
  .scoreboard-open {
    position: absolute;
    right: 0;
  }
}
